*{
    margin:0;
    padding: 0;
}
body{
    height:100%;
    width:100%;
    background: bisque;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    text-align: center; 
    justify-content: center;
    align-content: center;
    
}
.container{
    width:800px;
    background-color: bisque;
    padding-bottom: 5em;
    justify-content: center;
    align-content: center;
    
}